{% extends "layout.html" %}

{% block myScripts %}
    <script type="text/javascript" src="{{url_for('static', filename='js/about_text.js')}}"></script>
{% endblock %}

{% block style %}
    @media (max-width: 380px) {
        .aboutBox {
            font-size: 90%;
        }
    }
{% endblock %}

{% block title %}
    About
{% endblock %}

{% block page_name %}
    <div class="pageNameContainer">
        <div class="container" id="pageTitleBox">
            <span class="navbar-text">
                About
            </span>
        </div>
    </div>
{% endblock %}


{% block main %}
    <div>
        <div class="container">
            <div class="jumbotron aboutBox mt-5">
                <div class="aboutText">
                    <h1>About</h1>
                    <br>

                    <p id="text1"> </p>
                    <p id="text2"> </p>
                    <br>

                    <p><a href="{{url_for('static', filename='WS_Docs/LorenzoArritola_Resume.pdf')}}">Click here to view resume!</a></p>
                    <p><a href="https://www.imdb.com/name/nm9647323/?ref_=nv_sr_1">IMDb</a></p>
                    <p><a href="https://www.linkedin.com/in/larritola1-b093a215b">LinkedIn</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}