{% extends "layout.html" %}

{% block myScripts %}
    <script type="text/javascript" src="{{url_for('static', filename='js/reset_scroll.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/carousel_videos.js')}}"></script>
{% endblock %}

{% block title %}
    Video Editing
{% endblock %}

{% block page_name %}
    <div class="pageNameContainer">
        <div class="container" id="pageTitleBox">
            <span class="navbar-text">
                Video Editing
            </span>
        </div>
    </div>
{% endblock %}


{% block main %}
    <div class="videoContainer">
        <div id="pagesCarousel" class="carousel slide mt-5" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#pagesCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#pagesCarousel" data-slide-to="1"></li>
                <li data-target="#pagesCarousel" data-slide-to="2"></li>
                <li data-target="#pagesCarousel" data-slide-to="3"></li>
                <li data-target="#pagesCarousel" data-slide-to="4"></li>
                <li data-target="#pagesCarousel" data-slide-to="5"></li>
                <li data-target="#pagesCarousel" data-slide-to="6"></li>
                <li data-target="#pagesCarousel" data-slide-to="7"></li>
            </ol>
            <div class="carousel-inner embed-responsive embed-responsive-16by9">
                <div class="carousel-item embed-responsive-item active">
                    <iframe id="Vanessa" class="embed-responsive-item" src="https://www.youtube.com/embed/GrSObU4djOA?enablejsapi=1" name="First slide" allowfullscreen></iframe>
                </div>
                <div class="carousel-item embed-responsive-item">
                    <iframe id="Wilkes" class="embed-responsive-item" src="https://www.youtube.com/embed/4-tURsRL2Is?enablejsapi=1" name="Second slide" allowfullscreen></iframe>
                </div>
                <div class="carousel-item embed-responsive-item">
                    <iframe id="Transy" class="embed-responsive-item" src="https://www.youtube.com/embed/xT7B26-BWD4?enablejsapi=1" name="Third slide" allowfullscreen></iframe>
                </div>
                <div class="carousel-item embed-responsive-item">
                    <iframe id="StuBridgeXmas" class="embed-responsive-item" src="https://www.youtube.com/embed/eV6wSHek1mA?enablejsapi=1" name="Fourth slide" allowfullscreen></iframe>
                </div>
                <div class="carousel-item embed-responsive-item">
                    <iframe id="StuBridgeConf" class="embed-responsive-item" src="https://www.youtube.com/embed/WDcMXDTSsk4?enablejsapi=1" name="Fifth slide" allowfullscreen></iframe>
                </div>
                <div class="carousel-item embed-responsive-item">
                    <iframe id="Boston" class="embed-responsive-item" src="https://www.youtube.com/embed/MSqozACyZms?enablejsapi=1" name="Sixth slide" allowfullscreen></iframe>
                </div>
                <div class="carousel-item embed-responsive-item">
                    <iframe id="Conflicted" class="embed-responsive-item" src="https://www.youtube.com/embed/ocn9C-C2Peo?enablejsapi=1" name="Seventh slide" allowfullscreen></iframe>
                </div>
                <div class="carousel-item embed-responsive-item">
                    <iframe id="WasteInterview" class="embed-responsive-item" src="https://www.youtube.com/embed/xSMhqWnyXJ4?enablejsapi=1" name="Eighth slide" allowfullscreen></iframe>
                </div>
            </div>
            <a class="carousel-control-prev" href="#pagesCarousel" role="button" data-slide="prev">
                <img id="prevMovie" src="{{url_for('static', filename='Custom_Icons/carousel-slider-left.svg')}}" alt="New Left Icon" width="32" height="32" class="carouselArrows">
            </a>
            <a class="carousel-control-next" href="#pagesCarousel" role="button" data-slide="next">
                <img id="nextMovie" src="{{url_for('static', filename='Custom_Icons/carousel-slider-right.svg')}}" alt="New Right Icon" width="32" height="32" class="carouselArrows">
            </a>
        </div>
    </div>

    <div class="container-fluid mobileSetup">
        <div class="row">
            <div class="col-md-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="VanessaMobile" class="embed-responsive-item" src="https://www.youtube.com/embed/GrSObU4djOA?enablejsapi=1" name="First slide" allowfullscreen></iframe>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="WilkesMobile" class="embed-responsive-item" src="https://www.youtube.com/embed/4-tURsRL2Is?enablejsapi=1" name="Second slide" allowfullscreen></iframe>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="TransyMobile" class="embed-responsive-item" src="https://www.youtube.com/embed/xT7B26-BWD4?enablejsapi=1" name="Third slide" allowfullscreen></iframe>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="StuBridgeXmasMobile" class="embed-responsive-item" src="https://www.youtube.com/embed/eV6wSHek1mA?enablejsapi=1" name="Fourth slide" allowfullscreen></iframe>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="StuBridgeConfMobile" class="embed-responsive-item" src="https://www.youtube.com/embed/WDcMXDTSsk4?enablejsapi=1" name="Fifth slide" allowfullscreen></iframe>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="BostonMobile" class="embed-responsive-item" src="https://www.youtube.com/embed/MSqozACyZms?enablejsapi=1" name="Sixth slide" allowfullscreen></iframe>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="ConflictedMobile" class="embed-responsive-item" src="https://www.youtube.com/embed/ocn9C-C2Peo?enablejsapi=1" name="Seventh slide" allowfullscreen></iframe>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="WasteInterviewMobile" class="embed-responsive-item" src="https://www.youtube.com/embed/xSMhqWnyXJ4?enablejsapi=1" name="Eighth slide" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}